<mat-expansion-panel >
    <mat-expansion-panel-header>
        <mat-panel-title>
          Add Theatre
        </mat-panel-title>
    </mat-expansion-panel-header>  
    <app-theatre-create></app-theatre-create>
</mat-expansion-panel>

<mat-spinner mode="indeterminate" *ngIf="isLoading"></mat-spinner>

<div class="theatres-holder" *ngIf="!isLoading">
    <mat-grid-list [cols]="numOfCols" (window:resize)="onResize($event)" rowHeight="3:2"  gutterSize="15px">
        <mat-grid-tile matRipple (click)="showHalls(theatre.id)" onfocus="" *ngFor="let theatre of theatres">{{ theatre.name }}</mat-grid-tile>        
    </mat-grid-list>
</div>