<mat-toolbar color="primary" class="sticky">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div fxLayout="row">
      <button mat-button routerLink="/">
        <mat-icon>home</mat-icon>
        <span class="logo" >Movie Booking</span>
      </button>
      <div *ngIf="!deviceXs && hasCityId" fxLayout="row">
        <button mat-button (click)="showMovies()" routerLinkActive="mat-warn">Movies</button>
        <button mat-button (click)="showEvents()" routerLinkActive="mat-warn">Events</button>
        <button mat-button *ngIf="userIsAuthenticated">History</button>
      </div>
    </div>
    
    <span class="spacer"></span>
    <ul *ngIf="!deviceXs">
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/login" routerLinkActive="mat-warn" >Login</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/signup" routerLinkActive="mat-warn" >Signup</a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <button mat-button (click)="onLogout()" >Logout</button>
        </li>
    </ul>

    <button *ngIf="deviceXs" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="userIsAuthenticated">
        <mat-icon>person</mat-icon>
        <span>UserName</span>
      </button>
      <button mat-menu-item *ngIf="userIsAuthenticated" (click)="onLogout()">
        <mat-icon>arrow_forward</mat-icon>
        <span>Logout</span>
      </button>
      <button mat-menu-item *ngIf="!userIsAuthenticated" routerLink="/login">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>
      <button mat-menu-item *ngIf="!userIsAuthenticated" routerLink="/signup">
        <mat-icon>person_add</mat-icon>
        <span>Signup</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="deviceXs && hasCityId" fxLayoutAlign="space-between end">
    <button mat-button (click)="showMovies()" routerLinkActive="mat-warn">Movies</button>
    <button mat-button (click)="showEvents()" routerLinkActive="mat-warn">Events</button>
    <button mat-button *ngIf="userIsAuthenticated">History</button>
  </mat-toolbar-row>
</mat-toolbar>
