mat-spinner {
  margin: 16rem auto;
}

button {
  background-color: #0378ff;
  color: white;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 4px 40px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
  
  body {
    padding: 0;
    font-family: 'Roboto', serif;
  }
  
  .padding-right {
    padding-right: 10px;
  }
  
  .padding-bottom {
    padding-bottom: 10px;
  }
  
  .padding-left {
    padding-left: 10px;
  }
  
  .title {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: xx-large;
  }
  
  /* Custom page footer */
  .footer {
    position: fixed;
    width: 100%;
    padding: 10px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    bottom: 0;
    margin-top: 20px;
  }
  
  /* seat reservation */
  .content {
    text-align: center;
    margin: auto;
    background-color: white;
    width: fit-content;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.14);
    padding: 1rem 4rem;
  }

  .screen{
    margin: auto;
    background-color: #777;
    width: fit-content;
    padding-left: 6rem;
    padding-right: 6rem;
    color: white;
  }
  
  .seatLayout {
    margin: 30px auto;
    color: black;
    font-size: 15px;
  }
  
  .seatAllowed {
    cursor: pointer;
  }

  .seatNotAllowed {
    cursor: not-allowed;
  }
  
  .buttons {
    margin: 30px auto;
  }

  button{
    margin-left: 10px;
  }
  
  .legend img{
    vertical-align: bottom;
  }
  /* body {
    background-image: url('../../../assets/img/cinemaSeats.jpg') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    font-family: 'Roboto', serif;
  } */
  