<mat-spinner mode="indeterminate" *ngIf="isLoading"></mat-spinner>

<!-- <div class="movie" fxLayout="row">
  <div class="image">
      <img src="https://i.pinimg.com/736x/3e/2b/7f/3e2b7fd692e74beed9f1353ed4dcb700.jpg" alt="Photo of movie">
  </div>
  <div class="movieContent">
      <h1 class="movieName">The Imitation game</h1>
      <div fxLayout="row">
          <h1 class="rightmargin">Duration</h1>
          <h1>Language</h1>
      </div>
      <p>Description</p>
  </div>
</div> -->


<div *ngIf="!isLoading">
  <mat-card class="example-card" *ngFor="let show of shows" [routerLink]="['/show', show.id]">
      <mat-card-header>
        <mat-card-title>{{ show.theatreData }}</mat-card-title>
        <mat-card-subtitle>
          <div class="content" fxLayout="row" fxLayout.xs="column">
            <h4 class="date">{{ show.startTime.toDateString() }}</h4>
            <h4>{{ show.startTime.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) }}</h4>
            <h4>Seats available: {{ show.seatsAvailable }}</h4>
          </div>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>

  <div class="noContent">
    <h3 *ngIf="shows.length <= 0 && !isLoading">No shows available!</h3>
  </div>
  