<mat-spinner mode="indeterminate" *ngIf="isLoading"></mat-spinner>

<div *ngIf="!isLoading">
  <mat-card class="example-card" *ngFor="let show of shows" [routerLink]="['/show', show.id]">
      <mat-card-header>
        <mat-card-title>{{ show.theatreData }}</mat-card-title>
        <mat-card-subtitle>
          <div  fxLayout="row">
            <h4 class="date">{{ show.startTime.toDateString() }}</h4>
            <h4>{{ show.startTime.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) }}</h4>
            <h4>Seats available: {{ show.seatsAvailable }}</h4>
          </div>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>

  <div class="noContent">
    <h3 *ngIf="shows.length <= 0 && !isLoading">No shows added yet!</h3>
  </div>
  