mat-spinner {
    margin: 16rem auto;
  }

h3 {
    font-size: larger;
    color: #666;    
}

.noContent {
    margin: 16rem auto;
    width: fit-content;
    padding: 2% 5%;
    font-size: 25px;
}

.date {
    margin-right: 5rem;
}

.example-card{
    margin: 5px auto;
    width: 60%;
    padding-bottom: 0%;
    cursor: pointer;
}