mat-spinner {
    margin: 16rem auto;
  }

h3 {
    font-size: larger;
    color: #666;    
}

h4 {
    margin-right: 5rem;
}


.noContent {
    margin: 16rem auto;
    width: fit-content;
    padding: 2% 5%;
    font-size: 25px;
}

.content {
    position: block;
    margin: auto;
  
  }

.example-card{
    margin: 5px auto;
    width: 60%;
    padding-bottom: 0%;
}

button {
    width: fit-content;
    margin: 4px auto;
    background-color: #0378ff;
    color: white;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 4px 40px;
  }

img {
    width: 12rem;
    height: 16rem;
    margin: 1rem 1rem;
}

.movie {
    width: 75%;
    margin: 1rem auto;
    padding: 0rem 1rem;
    background-color: #fff;
    box-shadow: 3px 3px 4px 0px rgba(1,1,1,0.44);
}

.movieName{
    font-size: 48px;
    font-weight: 300;
}

.movieContent {
    margin-left: 5%;
    margin-top: 1rem;
    color: #2b4054;
}

.rightmargin {
    margin-right: 2rem;
}