mat-spinner {
  margin: 16rem auto;
}

mat-expansion-panel {
  width: 70%;
  margin: 1rem auto;
}

mat-grid-tile {
    background: white;
    cursor: pointer;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.54);
    font-size: medium;
  }

  button{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

  .halls-holder {
    width: 80%;
    margin: 2rem auto;
} 