<mat-expansion-panel >
    <mat-expansion-panel-header>
        <mat-panel-title>
          Add Hall
        </mat-panel-title>
    </mat-expansion-panel-header>  
    <app-hall-create></app-hall-create>
</mat-expansion-panel>

<div class="halls-holder">
    <mat-grid-list [cols]="numOfCols" (window:resize)="onResize($event)" rowHeight="3:2"  gutterSize="10px">
        <mat-grid-tile matRipple (click)="showHall(hall.id)" *ngFor="let hall of halls">{{ hall.name }}</mat-grid-tile>        
    </mat-grid-list>
</div>
