.example-container {
    margin: 10px;
    background-color: white;
  }

  .sideBar {
    margin-top: 2.5rem;
}

.sidebarButton{
    background-color: #f2f2f2;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 4px 8rem;
    padding-left: 1rem;
    margin-top: 1rem;
}