<!-- <div [class.content]="!deviceXs" [class.content-mob]="deviceXs" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly center"> -->
  <mat-spinner mode="indeterminate" *ngIf="isLoading"></mat-spinner>

  <div class="content" *ngIf="!isLoading" fxLayout="row wrap" fxLayout-xs="column" fxLayoutAlign="space-evenly center" fxLayoutAlign-xs="center">

  <mat-card [routerLink]="['/shows', movie.id]" class="example-card" *ngFor="let movie of movies">
    <img mat-card-image [src]="movie.imagePath" alt="Photo of movie">
    <mat-card-content>
      <h4>{{ movie.name }}</h4>
      <h5>{{ movie.language }}</h5>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-raised-button color="primary">Book Tickets</button>
    </mat-card-actions> -->
  </mat-card>
</div>
<mat-paginator [length]="totalMovies" [pageSize]="moviesPerPage" [pageSizeOptions]="pagesSizeOptions" (page)="onChangedPage($event)" 
*ngIf="movies.length > 0">
</mat-paginator>

<div class="noContent">
  <h3 *ngIf="movies.length <= 0 && !isLoading">No movies added yet!</h3>
</div>

