<mat-spinner mode="indeterminate" *ngIf="isLoading"></mat-spinner>

<mat-card class="timer" *ngIf="!isLoading">
  <h1>Time left</h1>
    <countdown [config]="{ leftTime: timeLeft, format: 'mm:ss' , demand: false}" (event)="finishPaymentWindow($event)"></countdown>
</mat-card>

<mat-card class="example-card" *ngIf="booking && !isLoading">
    <mat-card-header >
      <mat-card-title class="heading">Payment</mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content>
      <div fxLayout="row">
          <h2>Booked Seats</h2>
          <h3>{{ booking.bookedSeats.length }}</h3>
      </div>
      <div fxLayout="row">
        <h2>Total Payment</h2>
        <h3>Rs.{{  booking.totalPayment }}</h3>
    </div>
    </mat-card-content>
    <hr>
    <mat-card-actions class="buttons">
        <button mat-raised-button (click)="cancelBooking()">Cancel</button>
        <button mat-raised-button (click)="makePayment()">Pay</button>
    </mat-card-actions>
  </mat-card>
  