mat-card{
    width: fit-content;
    margin: auto;
    padding: 48px 32px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.14);
}

mat-card-content {
    margin-bottom: 4rem;
}

mat-spinner {
    margin: 16rem auto;
  }

button {
    background-color: #0378ff;
    color: white;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 4px 40px;
    margin-left: 10px;
  }

  h2 {
      margin-right: 4rem;
      font-size: 14px;
      font-weight: 500;
  }

  h3 {
      margin-left: 1rem;
  }

.heading {
    font-size: 28px;
    font-weight: 250;
}

.buttons {
margin: 1rem auto;
}

.timer {
    width: fit-content;
    margin-bottom: 2rem;
    padding: 1% 5%;
    font-size: 28px;
}