<mat-expansion-panel >
    <mat-expansion-panel-header>
        <mat-panel-title>
          Add Event
        </mat-panel-title>
    </mat-expansion-panel-header> 
    <form [formGroup]="form" (submit)="addEvent()">
        <mat-form-field>
            <input 
            matInput 
            formControlName="name"
            placeholder="Event Name">
            <mat-error *ngIf="form.get('name').invalid">Please enter a name</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input 
            matInput 
            formControlName="imagePath"
            placeholder="Event image url">
            <mat-error *ngIf="form.get('imagePath').invalid">Please enter an image url</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input 
            matInput 
            formControlName="language"
            placeholder="language">
            <mat-error *ngIf="form.get('language').invalid">Please enter language</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input 
            matInput 
            formControlName="duration"
            placeholder="duration">
            <mat-error *ngIf="form.get('duration').invalid">Please enter duration</mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <textarea 
            matInput 
            rows="6" 
            formControlName="description"
            placeholder="Event Description"></textarea>
            <mat-error *ngIf="form.get('description').invalid">Please enter description</mat-error>
        </mat-form-field>
        <button 
            mat-raised-button 
            color = "primary"
            type="submit">Save Event</button>
    </form>
</mat-expansion-panel>

<mat-spinner mode="indeterminate" *ngIf="isLoading"></mat-spinner>

  <div class="content" *ngIf="!isLoading" fxLayout="row wrap" fxLayout-xs="column" fxLayoutAlign="space-evenly center" fxLayoutAlign-xs="center">

  <mat-card class="example-card" *ngFor="let event of events">
    <img mat-card-image [src]="event.imagePath" alt="Photo of event">
    <mat-card-content>
      <h4>{{ event.name }}</h4>
      <h5>{{ event.language }}</h5>
    </mat-card-content>
   
  </mat-card>
</div>
<mat-paginator [length]="totalEvents" [pageSize]="eventsPerPage" [pageSizeOptions]="pagesSizeOptions" (page)="onChangedPage($event)" 
*ngIf="events.length > 0">
</mat-paginator>

<div class="noContent">
  <h3 *ngIf="events.length <= 0 && !isLoading">No events added yet!</h3>
</div>
